.thumbnail-post {width:190px; height:100px; float:left; margin:5px 15px 2px 0px;}
h2.post-title {font-size: 17px;margin-bottom: 10px;-webkit-font-smoothing: antialiased;font-family: sans-serif;}
h2.post-title a:link,h2.post-title a:visited {color:#0e429b}
h2.post-title a:hover {color:#c00}
.post-body {margin-bottom: 15px;border-bottom: 1px solid #e5e5e5;padding-bottom: 15px;}
.post-snippet {font-size:13.5px;color:#666666}
#main-wrapper {margin-bottom:5px;}
.post-title {font-size:25px;margin-bottom:10px;font-family: sans-serif;}
.post-body {font-size: 14px;line-height:19px;margin-bottom:20px;font-family: sans-serif;}
.post-body h3 {font-size:18px;margin:8px 0}
.post ul,.post ol{margin:20px;margin-top:5px}
.post ol li{list-style-type:Decimal;padding-left:1px;margin:5px 0 0 10px}
.post ul li{list-style-type:Disc;padding-left:1px;margin:5px 0 0 10px}
.post-body blockquote {background: #fafafc;padding: 10px;margin: 5px;}